.Hooks {
  width: "100%";
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Interest {
  align-items: center;
  justify-content: center;
  margin: 8pt;
}

.Button {
  margin: 8pt;
}

.Text {
  margin: 8pt;
}
